* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #efefef;
    width: 100vw;
    height: 100vh;
}

.container{
    position: absolute;
    top: 300Px;
    left: 450px;
}

.form {
    margin: 20px;
}

.heading {
    margin: 40px 5px;
    font-size: 38px;
}

.result {
    margin: 30px;
}

.input {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    padding: 20px;
    margin-left: 10px;
}


.btn {
    width: 70px;
    height: 40px;
    border-radius: 5px;
    margin: 0 0 0 30px;
    cursor: pointer;
}


.p {
    margin-left: 30px;
    color: red;
    font-size: 18px;
}

@media (max-width:1024px) {

.container{
    position: absolute;
    top: 200Px;
    left: 290px;
}

.input {
    width: 330px;
    height: 40px;
    margin-left: 0px;
}
.heading{
    margin: 40px 0;
    font-size: 32px;
}
    
}

@media (max-width:768px) {

.container{
    position: absolute;
    top: 180Px;
    left: 160px;
}

.input {
    width: 300px;
    height: 40px;
    margin-left: 0px;
}
.heading{
    margin: 40px 0;
    font-size: 30px;
}
    
}


@media (max-width:576px) {

    .container{
    position: absolute;
    top: 150Px;
    left: 5px;
}

.input {
    width: 200px;
    height: 40px;
    margin-left: 0px;
}

.btn {
    width: 50px;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.heading{
    margin: 50px 0 30px 18px;
    font-size: 18px;
}
}


