* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form {
    margin: 20px;
}

.heading {
    margin: 30px;
}

.result {
    margin: 30px;
}

.input {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    padding: 20px;
    margin: 0 0 0 10px;
}


.btn {
    width: 70px;
    height: 40px;
    border-radius: 5px;
    margin: 0 0 0 30px;
    cursor: pointer;
}


.p {
    margin-left: 30px;
    color: red;
    font-size: 18px;
}